html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  width: 100%;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  color: #FEFEFE;
  line-height: 1.7;
  overflow-x: hidden;
  background-image: url(../images/stone_00126.jpg);
  background-repeat: repeat;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

h1 {
  font-family: "Hind", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  font-size: 4.8rem;
}
@media (min-width: 960px) {
  h1 {
    font-size: 12.8rem;
  }
}

h2 {
  font-size: 2.8rem;
}
@media (min-width: 960px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 1.8rem;
}
@media (min-width: 960px) {
  h3 {
    font-size: 2.8rem;
  }
}

p {
  white-space: wrap;
  font-size: 1.6rem;
}
@media (min-width: 960px) {
  p {
    font-size: 2rem;
  }
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

audio {
  width: 100%;
}

.more-link {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.more-link > a {
  color: #00FFFF;
}

.link-color {
  color: #00FFFF;
}

.inview,
.inview-back {
  transform: translateY(30px);
  opacity: 0;
  transition: tramsform 1s, opacity 1s;
}

.inview.show {
  transform: translateY(0);
  opacity: 1;
}

.inview-back.show {
  transform: translateY(0);
  opacity: 0.5;
}

.l-main {
  width: 100%;
  height: auto;
  padding-top: 60px;
  margin-bottom: 50px;
  box-sizing: border-box;
}
@media (min-width: 960px) {
  .l-main {
    padding-top: 90px;
  }
}

.member,
.new-relaese {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media (min-width: 630px) {
  .member,
.new-relaese {
    max-width: 1200px;
  }
}

@media (min-width: 630px) {
  .p-jumbotron,
.pick-up {
    max-width: 1200px;
  }
}

.p-jumbotron {
  padding: 30px 20px;
}
@media (min-width: 960px) {
  .p-jumbotron {
    padding: 50px;
  }
}

.member__img {
  max-width: 160px;
  max-height: 280px;
}
@media (min-width: 630px) {
  .member__img {
    max-width: 390px;
    margin-bottom: 20px;
  }
}
.member__name, .member__part {
  display: block;
  margin-left: 30px;
}
@media (min-width: 630px) {
  .member__name, .member__part {
    margin-left: 0;
    text-align: center;
  }
}
.member__part {
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 960px) {
  .member__part {
    font-size: 2.8rem;
  }
}
.member__card {
  min-width: 370px;
}
@media (min-width: 630px) {
  .member__card {
    flex-direction: column;
    min-width: auto;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 630px) {
  .wrap {
    flex-direction: row;
    justify-content: space-between;
  }
}

.news {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.span__news {
  font-size: 1.2rem;
  font-weight: bold;
  color: darkorange;
  padding: 0 10px;
}

.last-article {
  max-width: 1200px;
}

.thanks {
  text-align: center;
}
.thanks__img {
  max-width: 50%;
  padding-top: 50px;
  margin-bottom: 30px;
}
@media (min-width: 630px) {
  .thanks__img {
    max-width: 30%;
  }
}
.thanks__msg {
  text-align: center;
  padding-bottom: 50px;
}

.schedule__info {
  max-width: 800px;
  display: inline-block;
  margin: 20px auto;
}
.schedule__img {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 30px;
  margin-bottom: 30px;
}

.l-header {
  width: 100%;
  height: 60px;
  font-size: 1.8rem;
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-family: "Hind", sans-serif;
  font-weight: 500;
  z-index: 90;
  opacity: 0.85;
}
@media (min-width: 960px) {
  .l-header {
    height: 90px;
  }
}
.l-header__logo {
  width: 140px;
  height: auto;
  line-height: 60px;
  margin-left: 10px;
}
@media (min-width: 960px) {
  .l-header__logo {
    width: 200px;
    line-height: 80px;
  }
}
@media (min-width: 1201px) {
  .l-header__logo {
    margin-left: 30px;
  }
}
.l-header__link {
  position: relative;
}
.l-header a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-thickness: 2px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.l-footer {
  width: 100%;
  height: auto;
  background-color: #000;
}
.l-footer__logo {
  width: 300px;
}
@media (min-width: 960px) {
  .l-footer__logo {
    width: 80%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
.l-footer__sns {
  display: flex;
  justify-content: center;
}
.l-footer__sns--img {
  width: 60px;
  height: 60px;
  margin: 3px;
}
.l-footer__link {
  padding: 20px;
}
.l-footer__link img {
  margin-bottom: 20px;
}
.l-footer__link, .l-footer__info {
  max-width: 600px;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  .l-footer__link, .l-footer__info {
    flex: 1;
  }
}
.l-footer__wrap {
  padding-top: 20px;
}
@media (min-width: 630px) {
  .l-footer__wrap {
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media (min-width: 960px) {
  .l-footer__wrap {
    flex-wrap: nowrap;
  }
}

.facebook {
  margin-bottom: 50px;
}

.copyright {
  height: 90px;
  line-height: 90px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.c-single__title {
  color: darkorange;
  text-align: center;
  white-space: nowrap;
}

.c-card {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.c-card:hover {
  cursor: pointer;
}

.c-table {
  border-collapse: collapse;
  border-top: 1px solid #FEFEFE;
}
.c-table tr {
  border-bottom: 1px solid #FEFEFE;
}
.c-table td {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 15px 20px;
}
@media (min-width: 960px) {
  .c-table td {
    font-size: 1.8rem;
  }
}

.c-player__audio {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}
.c-player__title {
  text-align: center;
}

.c-container {
  width: 100%;
  height: auto;
  max-width: 1000px;
  background: rgba(32, 32, 32, 0.4);
  padding-bottom: 30px;
}
@media (min-width: 960px) {
  .c-container {
    margin-left: auto;
    margin-right: auto;
  }
}
.c-container__title {
  height: 40px;
  padding: 0 20px;
  margin-bottom: 20px;
  background: #FEFEFE;
  color: #1e1e1e;
  line-height: 40px;
  font-size: 1.8rem;
}
@media (min-width: 960px) {
  .c-container__title {
    font-size: 2.8rem;
    height: 50px;
    line-height: 50px;
  }
}

.c-movie {
  width: 100%;
  max-width: 590px;
  aspect-ratio: 16/9;
  margin: 10px 5px;
}
.c-movie iframe {
  width: 100%;
  height: 100%;
}

.c-typography {
  width: 100vw;
  height: 150px;
  position: relative;
}
@media (min-width: 960px) {
  .c-typography {
    width: 100%;
    max-width: 400px;
    height: 300px;
    flex: 1;
  }
}
.c-typography__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-typography__title {
  position: absolute;
  padding: 0 10px;
  top: 50%;
  transform: translateY(-50%);
}

.c-modal__wrapper {
  display: flex;
  justify-content: space-between;
}
.c-modal__item {
  width: 30%;
}
.c-modal__item img {
  cursor: pointer;
}

#modalMask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10000;
}
#modalMask img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 10001;
}

.c-hover {
  position: relative;
}
.c-hover__item--img {
  width: 100%;
  height: 100%;
}
.c-hover__text {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
  opacity: 0;
  z-index: 10000;
}
.c-hover__text:hover {
  opacity: 1;
}
.c-hover a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-thickness: 2px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.c-btn {
  border-radius: 4px;
  display: inline-block;
  padding: 8px 24px;
  font-size: 1.6rem;
  font-weight: bold;
}
.c-btn:hover {
  opacity: 0.8;
}
.c-btn__send {
  color: #FEFEFE;
  background: #76BDFF;
}
.c-btn__back {
  color: #1e1e1e;
  background: #D9D9D9;
  margin-left: 5px;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #fff;
}

.p-gmenu > .list {
  transition: all 300ms 0s ease;
  position: fixed;
  padding-top: 60px;
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 100%;
  background: #1e1e1e;
  z-index: 100;
}
@media (min-width: 960px) {
  .p-gmenu > .list {
    display: flex;
    width: inherit;
    height: 90px;
    padding: inherit;
    position: static;
    background: inherit;
    transition: inherit;
  }
}
@media (min-width: 1201px) {
  .p-gmenu > .list {
    margin-right: 30px;
  }
}
.p-gmenu__main {
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  .p-gmenu__main {
    display: flex;
  }
}
.p-gmenu__main--contents, .p-gmenu__sns--contents {
  display: block;
  font-weight: bold;
  padding-left: 20px;
  line-height: 40px;
}
.p-gmenu__main--contents:hover, .p-gmenu__sns--contents:hover {
  background-color: #5a5a5a;
  transition: background-color 0.1s;
}
@media (min-width: 960px) {
  .p-gmenu__main--contents {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 90px;
  }
}
@media (min-width: 1201px) {
  .p-gmenu__main--contents {
    font-size: 2rem;
    margin-right: 20px;
  }
}
@media (min-width: 960px) {
  .p-gmenu__sns {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1201px) {
  .p-gmenu__sns {
    margin-right: 20px;
  }
}
@media (min-width: 960px) {
  .p-gmenu__sns--contents {
    display: none;
  }
}
.p-gmenu__sns--img {
  display: none;
}
@media (min-width: 960px) {
  .p-gmenu__sns--img {
    display: block;
    max-width: 28px;
    max-height: 28px;
    margin-right: 15px;
  }
}
.p-gmenu__sns--img:hover {
  opacity: 0.8;
  transition: opacity 0.1s;
}
.p-gmenu.is-open > .list {
  left: 50%;
}
@media (min-width: 630px) {
  .p-gmenu.is-open > .list {
    left: 60%;
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0;
  z-index: 99;
}
@media (min-width: 960px) {
  .mask {
    display: none;
  }
}
.mask.is-open {
  left: 0;
  opacity: 0.7;
  transition: opacity 0.1s;
}

.p-hamburger {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}
@media (min-width: 960px) {
  .p-hamburger {
    display: none;
  }
}
.p-hamburger:hover {
  cursor: pointer;
  opacity: 0.9;
}
.p-hamburger::before, .p-hamburger::after {
  content: "";
  width: 20px;
  height: 2px;
  background: #FEFEFE;
  position: absolute;
  left: calc(50% - 20px/2);
  display: block;
  transition: transform 0.2s;
}
.p-hamburger::before {
  top: 22px;
}
.p-hamburger::after {
  top: 38px;
}
.p-hamburger > span {
  width: 20px;
  height: 2px;
  font-size: 0;
  background: linear-gradient(to right, #FEFEFE, #FEFEFE) repeat-x #FEFEFE;
  background-size: auto 2px;
  position: absolute;
  left: calc(50% - 20px/2);
  top: 50%;
  transition: transform 0.2s;
}
.p-hamburger.is-open::before {
  transform: rotate(45deg);
  top: 28px;
}
.p-hamburger.is-open::after {
  transform: rotate(-45deg);
  top: 28px;
}
.p-hamburger.is-open > span {
  background: none;
}

.p-mainvisual {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1201px) {
  .p-mainvisual {
    max-height: 90vh;
  }
}
.p-mainvisual img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
}
.swiper-pagination-bullet {
  background: #D9D9D9;
  opacity: 0.8;
}
.swiper-pagination-bullet-active {
  background: #FEFEFE;
  opacity: 1;
}

.p-jumbotron {
  position: relative;
}
.p-jumbotron__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
}
.p-jumbotron__introduction {
  max-width: 800px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}
.p-jumbotron__title {
  font-size: 4.8rem;
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  .p-jumbotron__title {
    font-size: 12.8rem;
  }
}
.p-jumbotron p {
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 10px;
}
@media (min-width: 960px) {
  .p-jumbotron p {
    font-size: 2.4rem;
    line-height: normal;
    margin-bottom: 20px;
  }
}

.p-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
.p-profile__title {
  font-size: 3.6rem;
}
@media (min-width: 960px) {
  .p-profile__title {
    font-size: 9.2rem;
  }
}
.p-profile__infomation {
  max-width: 800px;
  margin: 50px 20px;
}
.p-profile__infomation p {
  font-size: 1.6rem;
}
@media (min-width: 960px) {
  .p-profile__infomation p {
    font-size: 2rem;
  }
}
.p-profile__gallery {
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-bottom: 100px;
}
@media (min-width: 630px) {
  .p-profile__gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 960px) {
  .p-profile__gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
}
.p-profile__img {
  width: 100%;
  aspect-ratio: 4/3;
}
.p-profile__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-form {
  padding: 50px;
}
.p-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
@media (min-width: 960px) {
  .p-form__group {
    flex-direction: row;
    justify-content: space-between;
  }
}
.p-form__label {
  position: relative;
  width: 20%;
  min-width: 180px;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 5px;
}
@media (min-width: 960px) {
  .p-form__label {
    margin-bottom: 0;
  }
}
.p-form__input {
  width: 100%;
}
@media (min-width: 960px) {
  .p-form__input {
    width: 80%;
    margin-left: 15px;
  }
}
.p-form__from {
  text-align: right;
  font-style: italic;
  font-size: 1.4rem;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.require_item {
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #FEFEFE;
  background: #EC1212;
  padding: 0 10px;
}

.error_msg {
  font-size: 1rem;
  color: red;
}

input,
textarea {
  width: 100%;
  padding: 0 10px;
  background: #FFF;
  border-radius: 4px;
}

.p-form__label,
input,
textarea {
  font-size: 1.4rem;
}
@media (min-width: 960px) {
  .p-form__label,
input,
textarea {
    font-size: 1.6rem;
  }
}

textarea {
  height: 150px;
}

article {
  width: 100%;
}

.p-blog,
.p-blog__side {
  display: flex;
  flex-direction: column;
}

.p-blog {
  max-width: 1200px;
}
@media (min-width: 960px) {
  .p-blog {
    flex-direction: row;
    justify-content: space-between;
  }
}
.p-blog__detail {
  padding: 10px 20px;
}
.p-blog__side {
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}
@media (min-width: 630px) {
  .p-blog__side {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 960px) {
  .p-blog__side {
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    margin-left: 20px;
  }
}
.p-blog__side p {
  display: inline-block;
  font-style: italic;
  font-size: 1.6rem;
  padding: 5px 20px;
}
@media (min-width: 630px) {
  .p-blog__side p {
    display: block;
    padding: 0 0 0 30px;
  }
}

.p-blogcard {
  margin: 10px;
}
.p-blogcard:hover {
  background: rgba(128, 128, 128, 0.3);
}
.p-blogcard__info {
  flex: 3;
  margin-left: 10px;
  padding: 0 20px 5px 10px;
}
.p-blogcard__img {
  height: 120px;
  flex: 1;
  min-width: 120px;
}
@media (min-width: 960px) {
  .p-blogcard__img {
    height: 150px;
  }
}
.p-blogcard__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-blogcard__title {
  font-size: 1.6rem;
}
@media (min-width: 960px) {
  .p-blogcard__title {
    font-size: 2rem;
  }
}
.p-blogcard__dete {
  font-size: 1.2rem;
}
.p-blogcard__content {
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (min-width: 960px) {
  .p-blogcard__content {
    font-size: 1.6rem;
  }
}

.page_num {
  display: inline-block;
  border: 1px solid #fff;
  font-size: 16px;
  padding: 2px 10px;
  margin: 5px 0 5px 10px;
}

.page_num:hover,
.p-blog__card {
  background: rgba(128, 128, 128, 0.3);
}

.p-movie {
  max-width: 1000px;
}
.p-movie__info {
  flex: 1;
  margin-bottom: 30px;
}
@media (min-width: 630px) {
  .p-movie__info {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
.p-movie__file {
  flex: 1;
}
.p-movie__small {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: -40px;
       column-gap: -40px;
}
@media (min-width: 630px) {
  .p-movie__small {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.disc,
.disc__card {
  display: flex;
  flex-direction: column;
}
@media (min-width: 630px) {
  .disc,
.disc__card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.disc {
  padding-left: 30px;
  padding-right: 30px;
}
.disc__wrap {
  max-width: 800px;
}
.disc__card {
  padding: 10px;
  align-items: center;
}
.disc__img {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1/1;
}
.disc__img img {
  -o-object-fit: cover;
     object-fit: cover;
}
.disc__list {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media (min-width: 630px) {
  .disc__list {
    flex-direction: column;
  }
}
@media (min-width: 630px) {
  .disc__audio {
    flex: 3;
    margin-top: 10px;
  }
}
@media (min-width: 630px) {
  .disc__title {
    flex: 1;
  }
}
.disc__info {
  margin-top: 20px;
  margin-bottom: 20px;
}

.p-biography {
  max-width: 1200px;
}
.p-biography__date {
  line-height: 1.2;
}
@media (min-width: 630px) {
  .p-biography__timeline {
    display: flex;
    justify-content: space-between;
  }
}
.p-biography__timeline--content {
  width: 100%;
  border-left: 2px solid #FEFEFE;
  padding-left: 60px;
  padding-bottom: 100px;
  position: relative;
}
@media (min-width: 630px) {
  .p-biography__timeline--content {
    width: 75%;
  }
}
.p-biography__img {
  max-width: 300px;
  margin-top: 20px;
}

.triangle {
  position: absolute;
  left: 0;
  top: 5px;
}
@media (min-width: 960px) {
  .triangle {
    top: 15px;
  }
}

.u-margin__right {
  margin-right: 20px;
}

.u-margin__top {
  margin-top: 20px;
}

.u-margin__bottom {
  margin-bottom: 100px;
}
@media (min-width: 960px) {
  .u-margin__bottom {
    margin-bottom: 180px;
  }
}

.u-margin__container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-margin__center {
  margin-left: auto;
  margin-right: auto;
}

.u-margin__middle {
  margin-top: auto;
  margin-bottom: auto;
}

.u-margin__all {
  margin: auto;
}

.u-padding__top {
  padding-top: 30px;
}

.u-padding__center {
  padding-left: 20px;
  padding-right: 20px;
}

.u-text__right {
  text-align: right;
}

.u-text__left {
  text-align: left;
}

.u-text__center {
  text-align: center;
}

.u-text__break {
  word-break: break-word;
}
/*# sourceMappingURL=style.css.map */