@use"../../foundation/variables";
@use"../../foundation/mixin";

.c-container{
    max-width: 1000px;
    background: rgba($color: #000000, $alpha: 0.5);
    margin: 50px auto;
    // @include mixin.breakpoint(tablet){
    //     flex-direction: initial;
    //     justify-content: space-between;
    // }
}