@use"../../foundation/variables";
@use"../../foundation/mixin";
.c-hover{
    position: relative;

    
    &__item--img{
        width: 100%;
        height: 100%;
    }
    
    &__text{
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        background: rgba(0,0,0,0.5);
        transition: 0.2s ease-in-out;
        opacity: 0;
        z-index: 10000;


        &:hover{
            opacity: 1;
        }
    }
}

// <div class="c-hover">
//     <div class="c-hover__item">
//         <img c-hover_item--imgsrc="" alt="">
//     </div>

//     <div class="c-hover__text">
//         <p></p>
//     </div>
// </div>