@use"../../foundation/variables";
@use"../../foundation/mixin";

.c-single__title{
    // font-family: "Hind", sans-serif;
    // font-weight: 500;
    // font-style: normal;
    color: variables.$color--title;
    text-align: center;
    white-space: nowrap;
}