@use"../../foundation/variables";
@use"../../foundation/mixin";

.c-table{
    border-collapse: collapse;
    border-top: 1px solid variables.$color--white;

    tr{
        border-bottom: 1px solid variables.$color--white;
    }
    
    td{
        font-size: 1.4rem;
        font-weight: bold;
        padding: 10px 20px;

        @include mixin.breakpoint(pc){
            font-size: 1.8rem;
        }
    }
}