@use"../../foundation/variables";
@use"../../foundation/mixin";

.c-typography{
    width: 100vw;
    height: 150px;
    position: relative;

    @include mixin.breakpoint(pc){
        width: 100%;
        max-width: 400px;
        height: 300px;
        flex: 1;
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &__title{
        position: absolute;
        padding: 0 10px;
        top: 50%;
        transform: translateY(-50%);
        
    }
}

// <div class="c-typography ">
//     <img class="c-typography__img" src="" alt="">
//     <h2 class="c-typography__title">タイトルが入ります。</h2>
// </div>