@use"../../foundation/variables";
@use"../../foundation/mixin";

.c-typography{
    width: 100%;
    height: 150px;
    position: relative;

    @include mixin.breakpoint(tablet){
        max-width: 400px;
        height: 250px;
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
    }
    
    &__title{
        position: absolute;
        padding: 0 10px;
        top: 50%;
        transform: translateY(-50%);
        
    }
}