@use"../../foundation/variables";
@use"../../foundation/mixin";

.u-margin__right{
    margin-right: 20px;
}

.u-margin__top{
    margin-top: 20px;
}

.u-margin__bottom{
    margin-bottom: 100px;

    @include mixin.breakpoint(pc){
        margin-bottom: 180px;
    }
}

.u-margin__center{
    margin-left: auto;
    margin-right: auto;
}

.u-margin__middle{
    margin-top: auto;
    margin-bottom: auto;
}

.u-margin__all{
    margin: auto;
}