@use"../../foundation/variables";
@use"../../foundation/mixin";
@use"sass:math";

$btnWidth: 20px;
$btnHeight: 2px;

.p-hamburger{
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
	z-index: 1000;

	@include mixin.breakpoint(pc){
        display: none;
    }

	&:hover{
		cursor: pointer;
		opacity: 0.9;
	}

    &::before,
	&::after {
		content   : "";
		width     : $btnWidth;
		height    : $btnHeight;
		background: variables.$color--white;
		position  : absolute;
		left      : calc( 50% - math.div( #{$btnWidth}, 2 ) );
		display   : block;
		transition: transform 0.2s;
	}
	&::before {
		top: 22px;
	}
	&::after {
		top: 38px;
	}
	> span {
		width          : $btnWidth;
		height         : $btnHeight;
		font-size      : 0;
		background     : linear-gradient( to right, variables.$color--white, variables.$color--white ) repeat-x variables.$color--white;
		background-size: auto $btnHeight;
		position       : absolute;
		left           : calc( 50% - math.div( #{$btnWidth}, 2 ) );
		top            : 50%;
		transition     : transform 0.2s;
	}

    &.is-open {
		&::before {
			transform: rotate( 45deg );
			top      : 28px;
		}
		&::after {
			transform: rotate( -45deg );
			top      : 28px;
		}
		> span {
			background: none;
		}
	}
}