@use"../../foundation/variables";
@use"../../foundation/mixin";

.p-jumbotron{
    // background-image: url(../images/about.jpg);
    // background-color: rgba(0,0,0,0.5);
    // background-blend-mode: darken;
    // background-size: cover;
    // background-position: center;
    position: relative;
    
    &__img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: 0;
    }
    
    &__introduction{
        max-width: 800px;
        position: sticky;
        z-index: 1;
    }

    &__title{
        font-size: 4.8rem;
        margin-bottom: 20px;

        @include mixin.breakpoint(pc){
            font-size: 12.8rem;
        }
    }

    p{
        font-weight: bold;
        line-height: 2rem;
        margin-bottom: 10px;

        @include mixin.breakpoint(pc){
            font-size: 2.4rem;
            line-height: normal;
            margin-bottom: 20px;
        }
    }
}