@use"../../foundation/variables";
@use"../../foundation/mixin";

.p-movie{
    max-width: 1000px;

    &__info{
        flex: 1;
        margin-bottom: 30px;

        @include mixin.breakpoint(tablet){
            margin-bottom: 0;
            margin-right: 10px;
        }
    }
    
    &__file{
        flex: 1;
    }

    &__small{
        max-width: 1200px;
        display: grid;
        grid-template-columns:1fr;
        column-gap: -40px;
        
        @include mixin.breakpoint(tablet){
            grid-template-columns:1fr 1fr;
            gap: 20px;
        }
    }

}