@use"../foundation/variables";
@use"../foundation/mixin";

.l-footer{
    width: 100%;
    height: auto;
    background-color: #000;

    &__logo{
        width: 300px;
    }

    &__sns{
        display: flex;
        justify-content: center;

        &--img{
            width: 60px;
            height: 60px;
            margin: 3px;
        }
    }


    &__wrap{
            
        @include mixin.breakpoint(tablet){
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
    

}


