@use"../foundation/variables";
@use"../foundation/mixin";

.l-header{
    width: 100%;
    height: 60px;
    font-size: 1.8rem;
    background-color: variables.$color--black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 90;
    opacity: 0.85;

    @include mixin.breakpoint(pc){
        height: 90px;
    }
    
    &__logo{
        width: 120px;
        height: auto;
        display:inline-block;
        line-height: 50px;
        margin-left: 10px;

        @include mixin.breakpoint(pc){
            width: 200px;
            line-height: 80px;
        }
        
    }
        
    &__link{
        position: relative;

    }
}

